<section>
  @if (product) {

    <div class="card product-item border-0 mb-4">
      <div class="card-header product-img position-relative overflow-hidden bg-transparent  p-0">
        <img class="img-fluid w-100 px-2" [src]="product.image" alt="product.name">
      </div>
      <div class="card-body text-center px-2 pt-4 pb-3">
        <h6 class="text-truncate mb-3">{{ product.title }}</h6>
        <div class="d-flex justify-content-center">
          <h6>{{ product.price }}€</h6>
          <h6 class="text-muted ms-2">
            <del> {{ product.price * 1.25 }}€</del>
          </h6>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-between bg-light ">
        <a routerLink="/details/{{product.id}}" class="btn btn-sm text-dark p-0"><i class="bi bi-eye fs-6 me-1"></i>View Detail</a>
        <a (click)="onAddProduct(product)" class="btn btn-sm text-dark p-0"><i class="bi bi-cart-plus fs-6 me-1"></i>Add To Cart</a>
      </div>
    </div>

  } @else {
    <p>No product found</p>
  }
</section>

