.cat-item,
.product-item {
  max-height: 260px;
  .cat-img img,
  .product-img img {
    transition: 0.5s;
  }

  &:hover {
    .cat-img img,
    .product-img img {
      transform: scale(1.2);
    }
  }
}

