<section class="benefits">
  <div class="container-lg pt-5">
    <div class="row px-xl-5 pb-3">
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="d-flex align-items-center border mb-4" style="padding: 20px;">
          <span class="bi bi-check text-warning-emphasis fs-2 m-0 me-1"></span>
          <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="d-flex align-items-center border mb-4" style="padding: 20px;">
          <span class="bi bi-truck text-warning-emphasis fs-2 m-0 me-3"></span>
          <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="d-flex align-items-center border mb-4" style="padding: 20px;">
          <span class="bi bi-arrow-repeat text-warning-emphasis fs-2 m-0 me-3"></span>
          <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="d-flex align-items-center border mb-4" style="padding: 20px;">
          <span class="bi bi-phone-vibrate text-warning-emphasis fs-2 m-0 me-3"></span>
          <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
        </div>
      </div>
    </div>
  </div>
</section>

