/* You can add global styles to this file, and also import other style files */
@import "fonts.css";

:root {
  --primary-font: 'Jost', sans-serif;
  --secondary-font: 'Marcellus', sans-serif;
  --bg-color: #ededed;
}

html, body {
  font-family: var(--primary-font), serif !important;
  background-color: var(--bg-color) !important;
}

h1 {
  font-family: var(--secondary-font), serif !important;
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.scss";
